<!DOCTYPE html>
<html>
<head>
	<title>{{ basicindex.title }}</title>
</head>
<body>
	<h1>{{ basicindex.h1}}</h1>

	<form enctype="multipart/form-data"
	      action="/basic/uploadFile/" method="POST">
		
		<div>
		<input type="text" name="cloud_path" value="{{ HOME }}"/>
		<br/>
		<select name="select_dir" onchange="select_directory(this.options[this.options.selectedIndex].value);">
			{% for dir in dirs %}
				<option>{{ dir }}</option>
			{% endfor %}
		</select>
		</div>
		<br/><br/>

		<input type="file" name="upload_file">
		<br/>
		<input type="submit" name="btn_upload" value="上传">

		<br/>
		<div>
			<ul name="click_to_download_files">
			{% for filename in name_of_files %}
				<a href="{% url 'download' %}?fullpath={{filename}}"><li>{{ filename }}</li></a>
			{% endfor %}
			</ul>
		</div>
		{% csrf_token %}

	<script type="text/javascript">
		function select_directory(_value){
			// alert("select => " + _value);
			var xmlh_select_dir;
			if (window.XMLHttpRequest) { //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
			    xmlh_select_dir=new XMLHttpRequest();
			}else{ // IE6, IE5 浏览器执行代码
			    xmlh_select_dir=new ActiveXObject("Microsoft.XMLHTTP");
			}

			xmlh_select_dir.open("POST", "/basic/select_dir/", true);
			xmlh_select_dir.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			xmlh_select_dir.send("folder=" + _value +
				"&last_path=" + document.getElementsByName("cloud_path")[0].value +
				"&csrfmiddlewaretoken=" + document.getElementsByName("csrfmiddlewaretoken")[0].value
				);
			var cloud_platform = "linux";
			var path_symbol = '';
			xmlh_select_dir.onreadystatechange=function(){
				if (xmlh_select_dir.readyState==4 && xmlh_select_dir.status==200){
					if (cloud_platform == "linux"){
						path_symbol = '/';
					}
					document.getElementsByName("cloud_path")[0].value += path_symbol + _value;
					xmlhttp_recv = xmlh_select_dir.responseText;
					jsonObj = JSON.parse(xmlhttp_recv);
					// jsonObj.sub_dirs => list
					refresh_sub_select_dir(jsonObj.sub_dirs);

					refresh_sub_files_of_selected_dir(jsonObj.sub_files);
				}
			}
		}

		function refresh_sub_select_dir(sub_dirs_list){
			var arr = new Array();
			var all_options = "";
			for (var i = 0; i<sub_dirs_list.length; i++){
				all_options += "<option>" + sub_dirs_list[i] + "</option>"
			}
			console.log(all_options);
			document.getElementsByName("select_dir")[0].innerHTML = all_options;
		}

		function refresh_sub_files_of_selected_dir(sub_files_list){
			var arr = new Array();
			var all_lis = "";
			// catch download file URL
			// -[o] joseph /\

			for (var i = 0; i<sub_files_list.length; i++){
				all_lis += "<a href=" + sub_files_list[i] + "><li>" +
				           sub_files_list[i] + "</li></a>"
			}
			document.getElementsByName("click_to_download_files")[0].innerHTML = all_lis;
		}
	</script>
	</form>
</body>
</html>